---
title: HOME (Nunjucks)
eleventyComputed:
  excerpt: |
    ## {{ title }} subheading

    This is some content.
    Linebreaks?

    Or multi-blank lines for a line break?
author: pdehaan
---

<h1>{{ title }}</h1>

{{ excerpt | markdown | safe }}
